site_name: ScraperNHL Documentation
site_description: NHL data scraping package with Expected Goals model
site_author: Max Tixador
site_url: https://maxtixador.github.io/scrapernhl/
repo_url: https://github.com/maxtixador/scrapernhl
repo_name: maxtixador/scrapernhl

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - API Reference: api.md
  - Examples:
      - CLI Usage: examples/cli.md
      - Scraping Data: examples/scraping.md
      - Advanced Analytics: examples/advanced.md
      - Data Export: examples/export.md
  - About: about.md
  - Announcements:
      - Version 0.1.4: announcements/version-014.md

theme:
  name: material
  palette:
    # Dark theme (default)
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue grey
      accent: white
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Light theme
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue grey
      accent: grey
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  
  icon:
    repo: fontawesome/brands/github
          
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search # For local search functionality
  - mkdocstrings  # For automatic API documentation
  - git-revision-date  # To show the last updated date
  - minify  # To minify the HTML output
  - macros  # To use macros in the documentation
  - mike:
      alias_type: symlink
      remote: origin
      default_branch: main
  
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/maxtixador/scrapernhl
  
  version:
    provider: mike
  
        